
body
{
	background: #500;
}

.secondary
{
	font-family: serif;
	font-size: 16;
	color: white;
	padding: 10px;
}
.logo
{
 color: black;
    	background: inherit;
    	width: 20px;
    	height:20px;
}

header h1
{
	color: black;
}

.navbar-brand
{
		color: white;
      display: inline;
      position: relative;
}
.navbar-brand:hover
{
	 background-color:#500;
      transition: 0.7s;

  
}

.nav-link
{
	color: white;
}
.nav-item:hover 
{
      background-color:#500;
      transition: 0.7s;
}
.dropdown-menu
{
	background-color: #500;

}
.dropdown-menu:visited
{
  display: inline-block;
}
.dropdown-item
{
	color: black;
}
.BackStory
{
	color: white;
}
.About 
{
  padding: 5px;
  width: 33%;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 5px 5px gray;


}

tbody
{
	color: white;
}
tfoot
{
	color: white;
}
table a
{
	color: white;
}
div a
{
	color: white;
}
.Accolades
{
	color: white;
	
}
.Card
{
	
     display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;	
  height: 20%
}
.Player-card{
	background-color: black;
    color: white;
   
}
.facts
{
	 padding: 5px;
  width: 33%;
  display: flex;
  flex-direction: row;
  font-family: serif;
	font-size: 12;
	color: white;

}
.quick
{
	height: 93%;
	border-spacing:100px;

}
.container{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slideshow {
  width: 80%;
  height: 80%;
}
.swiper-slide img{
	width: 100%;
}